div{
    display: block;
}

.main_html{
    background-color: #f5efef;
    border: solid 1px #165877;
    margin-bottom: 10px;
    clear: both;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 4px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-wrap: break-word;
    width: 70%;
}

.list-grouped{
	position: relative;
    display: inline-grid;
    padding: 5px 0;
    border-top: 1px solid rgba(167, 165, 165, 0.37);
    /* transition: .3s; */
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
	/* transform: rotate(45deg); */
}

.list-grouped a{
    text-decoration: none;
    color: inherit;
    text-transform: translateY(-10px);
    transition: color 0.9s;
	transition:all 0.9s;
}

.list-groupedT{
    position: relative;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: blue;
    margin-bottom: 5px;
    margin-bottom: 18px;
}

.list-grouped a:hover{
    color: rgba(0, 0, 255, 0.623);
}

.list-grouped>:nth-child(2){
    border-bottom: 1px solid rgba(167, 165, 165, 0.37);
    padding: inherit;
}

.list-grouped>:first-child {
    border-bottom: 1px solid rgba(167, 165, 165, 0.37);

}

.foot-btn{
    color: black;
    cursor: pointer;
    transition: all 0.2s;
    font-size: large;
}

.foot-btn button{
    margin: 0 5px;
    background-color: #fcf7f7;
    border: none;

}

.foot-btn button:hover{
    transform: translateX(-5px);
    background-color: #ffff;
}
/* .list-grouped{
	margin-bottom: 1px;
} */

#main_html hr{
    color: gray;
    opacity: 10px;
}

#main_html span{
    color: black;
}

.footer-div a{
    color: red;
}

.footer-div{
    background: #16587763;
    color: blue;
    padding-top: 5px;
    border-radius: 10px;
}

.contenu-lecon{
	padding: 2px;
    /* padding-left: 100px; */
    font-size: 21px;
    color: #1e6b94;
    position: relative;
}

.titre-html{
	background-color: #165877;
    padding: 5px;
	text-align: center;
    color: #ffff;
}